// _palette.scss
$lmt-accent: (
  50 : #f1f6f7,
  100 : #dde8eb,
  200 : #c7d9dd,
  300 : #b0c9cf,
  400 : #9fbec5,
  500 : #8eb2bb,
  600 : #86abb5,
  700 : #7ba2ac,
  800 : #7199a4,
  900 : #5f8a96,
  A100 : #ffffff,
  A200 : #d1f5ff,
  A400 : #9ee9ff,
  A700 : #85e4ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$lmt-warn: (
  50 : #fee1e1,
  100 : #feb3b3,
  200 : #fd8181,
  300 : #fc4e4e,
  400 : #fb2828,
  500 : #fa0202,
  600 : #f90202,
  700 : #f90101,
  800 : #f80101,
  900 : #f60101,
  A100 : #ffffff,
  A200 : #ffeaea,
  A400 : #ffb7b7,
  A700 : #ff9d9d,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$lmt-primary: (
  50 : #f0e4e4,
  100 : #d9bcbb,
  200 : #bf8f8d,
  300 : #a5625f,
  400 : #92413d,
  500 : #7f1f1b,
  600 : #771b18,
  700 : #6c1714,
  800 : #621210,
  900 : #4f0a08,
  A100 : #ff8684,
  A200 : #ff5451,
  A400 : #ff221e,
  A700 : #ff0904,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
