/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
// custom palette for my application
@use "./styles/pallete/cpalette" as cpallete;
// custom typografy
@use "./styles/typography/config" as typography;
// Plus imports for other components in your app.
@use "sass:map";

@include mat.core();


$siaf-primary: mat.define-palette(cpallete.$lmt-primary);
$siaf-accent: mat.define-palette(cpallete.$lmt-accent, 500, 300, 900);
$siaf-warn: mat.define-palette(cpallete.$lmt-warn);

$siaf-theme: mat.define-light-theme((color: (primary: $siaf-primary,
        accent: $siaf-accent,
        warn: $siaf-warn,
      ),
    ));

$color-config: mat.get-color-config($siaf-theme);
$primary-palette: map.get($color-config, "primary");
$accent-palette: map.get($color-config, "accent");
$warn-palette: map.get($color-config, "warn");

@include mat.all-component-themes($siaf-theme);

$primary: mat.get-color-from-palette($primary-palette, 500);
$accent: mat.get-color-from-palette($accent-palette, 500);
$warn: mat.get-color-from-palette($warn-palette, 500);
$font-family: "OpenSans-Regular, 'Helvetica Neue', sans-serif";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
}

* {
  box-sizing: border-box;
}

.style-success {
  color: white;
  background-color: green;
  white-space: pre-wrap;
}

.style-success .mat-simple-snackbar-action {
  color: white;
  white-space: pre-wrap;
}

.style-error {
  color: mat.get-color-from-palette($warn-palette, "A200");
  background-color: mat.get-color-from-palette($warn-palette, "default");
  white-space: pre-wrap;
}

.style-error .mat-simple-snackbar-action {
  color: mat.get-color-from-palette($warn-palette, "A200");
  white-space: pre-wrap;
}

.selected-row:hover {
  background-color: mat.get-color-from-palette($accent-palette);
  cursor: pointer;
}

.center,
::ng-deep .center {
  text-align: center;
  text-align: -webkit-center;
}

@function property-value($property, $selector: null) {
  @return $magic;
}
